<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>1Chat</title>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <div class="container-md">
    <p style="font-family: 'Merriweather', serif;">1<span style="font-family: 'Marck Script', cursive;">Chat</p>
  </div>
  <head>
  <nav class="welcome-bar" style="font-family: 'Merriweather', serif; font-size: large; text-align: center;">
              <ul>
                <li><a href="#Signup">Sign Up</a></li>
                <li><a href="#Chat">Chat</a></li>
                <li><a href="#Friends">Friends</a></li>
                <li><a href="#Login">Log In</a></li>
      </ul>
  </nav>
  </head>
<body>
<button class="open-button" onclick="openForm()">Chat</button>
<div class="chat-popup" id="message-container">
  <form id="send-container" action="/action_page.php" class="form-container">
    <h1 style="font-family: 'Merriweather', serif;">1<span style="font-family: 'Marck Script', cursive;">Chat</h1>
    <label for="msg"><b></b></label>
    <textarea input type="text" id="message-input" placeholder="Type message.." name="msg" required></textarea>
    <button type="submit" id="send-button" class="btn">Send</button>
  </form>
</div>
</div>
  <link rel="stylesheet" href="style.css" />
  <script defer src="script.js"></script>
</body>
</html>
















